.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
}

h1{
  font-size: 36px;
  float: left;
}

.search-bar {
  max-width: 100%;
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
}

.post h2 {
  color: #333;
}

.post p {
  color: #777;
}

.read-more-link {
  color: #007bff;
  text-decoration: none;
}

.read-more-link:hover {
  text-decoration: underline;
}