.navbar {
    top: 0;
    width: auto;
    padding: 10px 20px;
    background-color: #f05a22;
  }
  
  .logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }
  
  .nav-links a {
    margin-right: 20px;
    font-size: 22px;
    color: white;
    text-decoration: none;
  }

  .logo:hover{
    text-decoration: none;
  }
  
  .nav-links:hover{
    cursor: pointer;
    text-decoration: none;
  }